/**

 */
 /*************************************************************
 * Estilos para a barra de ferramentas
 *************************************************************/
 #toolbar{
    width: 100%;
    height: 61px;
    padding:0;
    margin:0 0 12px 16px;
}

.navbar-nav{
    height: 89px;
    padding: 17px;
}

.navbar-nav > li > a > i{
    font-size:x-large;
}

td.reservada {
    background: #ff9900;
    color:#fff;
}

.botao a{
    float:left;
    width: 90px;
    height: 79px; 
    vertical-align: middle; 
    text-decoration : none !important;
    border: 1px solid #DDD;
    padding: 2px 5px 1px 5px;
    text-align:center;
    color:#036;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    display: block;
}
  
.botao > a > img {
    max-width: 32px;
}

  .modulo-nome{
    padding-bottom: 15px;  
  }
  
  .botao{
    float:left;
    padding:6px 4px;
  }
  
  .botao a:hover{
    background:#efefef;
    border: 1px solid #003;
    padding: 3px 4px 0px 6px; 
  }
  
  .botao img{
    border:0;
    padding-top:3px;
  }
  
  .botao a:active{
    color:#900;  
  }
  
  /*End toolbar*/
  input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

ul.nav.nav-treeview{
  background: #f1f1f1 !important;
}

ul.nav.nav-treeview > li > a{
  color:#333 !important;
}

 .row{
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        padding: 2%;
    }
    .center {
        width: 99%;
        margin: 0 auto;
        background: #f1f1f1;
        padding: 1%;
        
    }
    .description{
        float: left;
        width: 30%;
    }

    .campo{
        float: right;
        width: 69%;
    }